@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .amusement {
        font-size: 50px;
        text-align: center;
    }
</style>
<p class="text-danger amusement">Warning: This website serves no real purpose… except amusement!</p>
